
<form action="/admin/addbanner" method="post" enctype="multipart/form-data" style="margin-left: 250px; margin-top:250px">
 <input type="text" class="form-control" id="inputProductTitle"
                                            placeholder="Enter banner title" name="banner-title">
<input id="image1" type="file" name="banner"
                                            accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
                                              onchange="viewImage1(event)">
                                            
                                              <img src="/{{product._id}}.jpg" style="width: 100px;height: 100px; display:none" id="imgView1" >
                                              <button type="submit">add</button>

</form>
       <script>
                function viewImage1(event){
                    document.getElementById('imgView1').src=URL.createObjectURL(event.target.files[0])
                    document.getElementById("imgView1").style.display = "block";
                }
            </script>